extends layout

block content
    script(type='text/javascript' src='/javascripts/jquery.min.js')
    script(type='text/javascript' src='/javascripts/qrcode.js')
    script(type='text/javascript' src='/javascripts/index.js')
    h1 扫描二维码
    h2 脉动￥3.50
    br
    button#send 点击生成二维码
    div#qrcode
    input(type='text',id='getval', value='#{qrcodeurl}')
    div #{notify}
    script(type='text/javascript') $(document).ready(function(){alert('query')})
